@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #fdfcfc;  /* Fallback for the light theme */
  font-family: Arial, Helvetica, sans-serif;
  background: #323776; /* Solid dark purple background */
}
